/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Map Canvas */
#mapCanvas {
  position: absolute;
  height: 100%;
  width: 80%;
  margin: 0px;
  padding: 0px;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  position: absolute;
  right: 0;
  height: 100%;  
  width: 20%;
}

/* Login & Sign-up Pages */

.login.page,
.signUp.page {
  background-color: #000;
}

.login.page form,
.signUp.page form {
  height: 100px;
  margin-top: -150px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page form input,
.signUp.page form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 330px;
}

.login.page .toSignUp,
.signUp.page .toLogin {
  color: #fff;
  text-align: center;
  cursor: pointer;

  position: absolute;
  top: 2%;
  right: 5%;
}
.login.page .toSignUp:hover,
.signUp.page .toLogin:hover {
  text-decoration: underline;
}

.login.page .title,
.signUp.page .title {
  font-size: 200%;
}

.login.page input,
.signUp.page input {
  font-size: 150%;
  letter-spacing: 3px;
}

.login.page .title, .login.page input,
.signUp.page .title, .signUp.page input {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
